---
Language: Cpp
BasedOnStyle: LLVM
Standard: Latest
IndentWidth: 4
ColumnLimit: 120
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
NamespaceIndentation: None
PointerAlignment: Left
SortIncludes: CaseSensitive
...
