format=GameEngine.GeneratedDesktopRuntimeCookedScenePackage.Config.v1
name=sample_generated_desktop_runtime_cooked_scene_package
displayName=sample-generated-desktop-runtime-cooked-scene-package
renderer=null-fallback
scenePackage=runtime/sample_generated_desktop_runtime_cooked_scene_package.geindex